<h1 class="text-3xl font-bold underline">
  Tailwind
</h1>

<fieldset>
  <legend>@Directive, @ViewChild</legend>
  <child-component></child-component>
</fieldset>

<fieldset>
  <legend>Async Pipe</legend>
  <app-async-a></app-async-a>
</fieldset>

<fieldset>
  <legend>Async Pipe</legend>
  <app-async-b></app-async-b>
</fieldset>


<!-- toggle button -->
<!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle> -->

<!-- default -->
<!-- <app-table-default></app-table-default> -->

<!-- sort -->
<!-- <app-table-sorting></app-table-sorting> -->

<!-- <input #phone placeholder="phone number" />
<button type="button" (click)="func(phone.value)">Call</button>

<form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
  <label for="name">Name</label>
  <input type="text" id="name" class="form-control" name="name" ngModel required />
  <button type="submit">Submit</button>
</form>

<div [hidden]="!itemForm.form.valid">
  <p>{{ submitMessage }}</p>
</div> -->

<input #ref1 type="text" [(ngModel)]="firstExample" />
<p *ngIf="true">Value: {{ ref1.value }}</p>
<p>Value: {{ firstExample }}</p>

<label for="example-ngModel">[(ngModel)]:</label>
<input [(ngModel)]="currentItem.name" id="example-ngModel">


<!-- <span *ngIf="true ? 'firstView' : 'secondView'">YES</span> -->
<fieldset>
  <legend>ngIf#1</legend>

  <div *ngIf="false; then firstView else secondView"></div>
  <ng-template #firstView><p>first text</p></ng-template>
  <ng-template #secondView><p>second text</p></ng-template>

</fieldset>

<fieldset>
  <legend>ngIf#2</legend>

  <p *ngIf="true">first text</p>
  <ng-template [ngIf]="true"><p>second text</p></ng-template>

</fieldset>

<fieldset>
  <legend>ngFor#1</legend>
  
  <ul>
    <ng-template ngFor let-item let-idx="index" [ngForOf]="myArray">
      <li>{{idx}} - {{item.name}}</li>
    </ng-template>
  </ul>

</fieldset>

<fieldset>
  <legend>ngFor#2</legend>

  <div *ngFor="let item of myArray;let idx = index">{{idx}} - {{item.name}}</div>

</fieldset>

<fieldset>
  <legend>ngFor#3 & trackBy</legend>

  <button (click)="assignData()">버튼</button>
  <!-- <div *ngFor="let item of myArray01;let idx = index;">{{idx}} - {{item.name}}</div> -->
  <div *ngFor="let item of myArray01;let idx = index;trackBy: trackById">{{idx}} - {{item.name}}</div>

</fieldset>

<fieldset>
  <legend>ng-template</legend>
  <ng-template><p>hi1</p></ng-template>
  <ng-container><p>hi2</p></ng-container>

  <ng-container *ngIf="false"><p>hi3</p></ng-container>
</fieldset>